<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spheroapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><uses-permission android:name="android.permission.INTERNET"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_sharp_48x48"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.spheroapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.spheroapp.AllenMain"
            android:label="@string/title_activity_allen_main"
            android:parentActivityName="com.example.spheroapp.MainActivity"
            android:screenOrientation="landscape" />
		<activity
            android:name="com.example.spheroapp.CollisionActivity"
            android:label="@string/title_activity_collision"
            android:parentActivityName="com.example.spheroapp.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spheroapp.MainActivity" />
        </activity>
    </application>

</manifest>
